.gooey-label {
    display: inline-block;
    color: #343434;
    padding: 5px 30px;
    border-radius: 50% 50% 0% 0% / 65% 49% 10% 10% ;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

